@mixin flex ($a, $b, $c) {
    display: flex;
    flex-direction: $a;
    justify-content: $b;
    align-items: $c;
}

.header_div {
    @include flex(row,space-between,center);
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    background-color: #D9EAFA;
}

.header_text {
    @include flex(column,center,center);
    p:nth-child(1) {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #1C45C1;
    }
    p:nth-child(2) {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
}

.pic {
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.barcode {
    margin-left: 15px;
    img {
        width: 150px;
        height: auto;
        border-radius: 5px;
    }
}